.idea/AndroidProjectSystem.xml
.idea/modules.xml
.idea/mountain-bike-trainer.iml
.idea/runConfigurations.xml
.idea/caches/deviceStreaming.xml
Android/.idea/AndroidProjectSystem.xml
Android/.idea/deploymentTargetSelector.xml
Android/.idea/runConfigurations.xml
Android/.idea/codeStyles/codeStyleConfig.xml
Android/.idea/codeStyles/Project.xml

data-labelling-ml-project/src/plots
